.input-container {
    display: flex;
    margin: 5vh;
  }
  
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust gap as needed */
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0,0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    
  }
  
  .send-button-container {
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .input-container input{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: white;
    font-size: 14px;
  }
  .input-container input::placeholder{
    color: rgb(65, 61, 61,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
  }

  .send-button-container{
    display: flex;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.5);
    padding: 10px;
    width: min-content;
    border-radius: 10px
  }

  .send-button-container input{
    padding: 5px;
    margin: 10px;
  }
  .bottom-input{
    margin-bottom: 5vh;
  }
  
  .send-button-container div button{
    margin-top: -3vh;
  }

  .input-group button{
    margin-top: -10vh;
    margin-bottom: 1vh;
    margin-left: -12vw;
  } 

  .history{
    background-color: rgb(0, 0, 0,0.5);
    width: max-content;
    padding: 10px;
    border-radius: 30px;
    margin-left: 40vw;
    margin-top: -7vh;
    transition: 0.3s;
  }

  .history:hover{
    cursor: pointer;
    transform: scale(0.9);
    background-color: #8a8989;
  }