.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    color: rgb(153, 153, 153);
}



.light-mode {
  color: #333;

}
  .sidebar.light-mode:hover{
    background-color: #bbb3a9;
    color: #000000;
  }

  .sidebar.light-mode {
    background-color: #8b7e6e; 
    color: #000000; 
  }


  .content.light-mode {
    background: #cbc5bd; 
    color: #000000; 
  }


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background : linear-gradient(to right, rgb(139, 65, 30), rgb(155, 80, 11), rgb(216, 73, 6));
  color: rgb(173, 173, 173);
  padding: 10px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  border: none;
  height: 8vh;
}

/* Light Mode Header Style */
.header.light-mode {
  background:linear-gradient(to right, #857f71,#615844,#665f50);
  color: #333;
}

  .content-container {
    display: flex;
    flex: 1;
    margin-top: 8vh; 

  }
  .sidebar div p{
    transition: 0.2s ease-in-out;
  }
  .sidebar {
    background-color: #313131 ;
    padding: 20px;
    min-width: 10vw;
    margin-top: 1vh; 
    color : rgb(255, 255, 255);
    margin-left: -10vw;
    transition: 0.3s  ease-in-out;
    position: fixed;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
}
  .sidebar:hover {
    transform: translateX(10vw);
    cursor: pointer;
    background-color:  #292929;
    color: rgb(180, 180, 180);
    z-index: 9999999;
  }
  .content {
    flex: 1;
    padding: 10px;
    background: linear-gradient(to top,rgb(15, 15, 15),rgb(15, 15, 15) ,rgb(12, 11, 11)) ;
    color : rgb(243, 238, 238);
    width: 100vw;
    margin-right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content.sidebar{
    position: fixed;
  }
  .logout {
    margin-left: auto; 
    display: flex;
    align-items: center;
    margin-right: 20px;
}
li {
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background-color: rgba(73, 73, 71, 0.6);
    color : rgb(255, 255, 255)
}

.sidebar > div {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.sidebar p {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 3vh;
}

.sidebar p:hover {
  background-color: rgba(49, 49, 49, 0.4);
}
.sidebar-toggle {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.3s ease-in-out;
}

.sidebar-hidden {
  margin-left: -200px; 
}

.poste{
  background-image: url('../../assets/poste.png');
  height: 9vh;
  width: 9vw;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.home{
  background-image: url('../../assets/Home.png');
  height: 7vh;
  width: 7vw;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 0.5s ease-in-out;
}
.home:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: 5vw;
  background-image: url('../../assets/user.png');
  height: 5vh;
  width : 2.6vw;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 50% 0;
  background-color: beige;
  transition: 0.3s ease-in-out;
  margin-left: 10vw;
}
.user-dropdown:hover{
  transform: scale(1.1);
}
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #8b8b8b; 
  box-shadow: 0 2px 4px rgba(235, 231, 231, 0.1);
  z-index: 1;
  padding: 10px;
  height: max-content;
  width: 10vw;
  margin-left: -5vw;
  margin-top: -1vh;
  border-radius: 10px;
  color:#000000;
}
.dropdown-content div{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.dropdown-content div:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 10;
  text-align: left;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
}

.welcome{
  align-items: center;
  justify-content: center;
  display: flex;
}

.sidebar {

  position: relative;
}

.sidebarshow.light-mode{
  color: rgb(255, 255, 255);
}

.sidebarshow {
  position: absolute;
  top: 45%;
  color: rgb(165, 165, 165);
  font-weight: bolder;
  right: -17px;
  background-color: transparent; 
  padding: 5px; 
  cursor: pointer; 
  transform: translateY(-50%); 
  display: block; 
  z-index: 1; 
}

.sidebar:hover .sidebarshow {
  display: block;
}
.search-bar {
  margin-right: auto; 
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 5px;
  width: 50vw;

}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: -2vw;
  width: 1vw;
}
.search-bar button:hover{
  background-color: transparent;
  transform: scale(1.2);
  border: none;
}

.theme-toggle {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 2.5vw;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  margin-right: 5vw;
  cursor: pointer;
}

.slider:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

.theme-toggle:checked + .slider:before {
  transform: translateX(100%);
}


.theme-toggle:checked + .slider {
  background-color: #5a5c5e; 
}

.user-class {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 5px; 
  font-weight: bolder;
  font-size: 20px;

}

.user-dropdown {
  margin-left: 5px; 
}

