.historique-item{
    background-color: transparent;
    border : 1px solid rgb(0, 0, 0);
    border-left: none;
    border-top: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.historique-container{
    
}