.destinataire-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    width: fit-content;
  }
  .input-first{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 15vw;
  }
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
  }
  
  .input-group input {
    background-color: rgb(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: white;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
  }
  .input-group button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .input-group input::placeholder {
    color: rgb(65, 61, 61, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
  }
  
  .send-button-container {
    display: flex;
    margin-top: 5vh;
  }
  
  .bottom-input {
    margin-bottom: 5vh;
  }
  
  .input-first {
    display: flex;
    align-items: center;
  }
  
  #fileInput {
    display: none; /* Hide the default file input */
  }
  
  .label-file {
    cursor: pointer;
    padding: 8px;
    background-color: #b4b4b4;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
  }
  
  #fileInputLabel {
    cursor: pointer;
    padding: 8px;
    background-color: #868686;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  #fileInput::file-selector-button {
    display: inline-block;
    background: #b4b4b4;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #fileInput::file-selector-button:hover {
    background: #2980b9;
  }
  
  .button-select {
    background: #b4b4b4;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button-send {
    background: #b4b4b4;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .label-file:hover{
    background-color: #48434e;
    color: white;
    transform : scale(0.9);
    transition: 0.5s;
  }