.custom-config-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20vw;
  }
  
  .custom-form-container {
    width: 45%;
  }
  
  .custom-list-container {
    width: 45%;
  }
  
  .custom-form-element {
    margin-bottom: 15px;
  }
  
  .custom-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .custom-input {
    width: 100%;
    padding: 8px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  