.custom-config-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20vw;
    animation : groupement 1s ease-in
  
  }

 
  .title{
    margin-top: -5vh;
    position: fixed;
  }
  .custom-form-container {
    width: 30vw;
    margin-left: -10vw;
    margin-right: 100px;
  }

  .light-mode .detail-button{
    background-color: rgb(255, 217, 0);
  }
  .detail-button{
    background-color: rgb(255, 251, 0);
  }
  .light-mode .custom-delete-button {
    background-color: rgb(105, 0, 0);
  }
  .custom-list-container {
    width: 60vw;
    margin-right: -35vw;
    overflow-y: auto;
    max-height: 70vh;
  }
  
  .custom-form-element {
    margin-bottom: 15px;
  }
  
  .custom-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .custom-input {
    width: 100%;
    padding: 8px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  td button {
    margin : 5px;
    padding: 10px;
  }
  
  .change {
    padding: 5px;
    margin : 5px;
  }
  
  @keyframes groupement {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .custom-delete-button{
    background-color: rgb(90, 0, 0);
    color: white;
  }

  .custom-delete-button:hover{
    background-color: rgb(90, 0, 0);
  }