.welcome{
    height: 70vh;
    width : 90vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: none;
    border-radius: 20px;
}
.welcome.light-mode h1{
   background-color: none;
   color: #000000;
   /* Add other light mode styles */
 }
 
.welcome.light-mode{
   background-color: transparent;
}
.welcome.light-mode div{
   box-shadow: none;
   box-shadow: 0.14em 0.2em 7px rgb(95, 89, 63);
}
.welcome div {
   padding: 10px;
   margin: 10px;
   height: 50vh;
   background-color: none;
   width: 20vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 40px;
   cursor: pointer;
   transition: 0.05s ease-in-out;
   animation: fadeInDown 2s forwards;
   border: none;
   box-shadow: 0.14em 0.2em 7px rgb(192, 107, 10);
}

.welcome.light-mode div:hover{
   background-color: #736e62;
   color: black;

}

.welcome.light-mode div{
   border: none;
   background-color: NONE;
   border: none;
}
.welcome div:hover{
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    height: 50vh;
    width: 50vw;
    background-image: none;
}
 .welcome h1{
    justify-content: center;
    padding: 10px;
    margin: 10px;
    transition: 0.5s ease;
    margin-top: -35vh;
    color: rgb(224, 82, 26);
 }
 
 .welcome h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 35px;
 }
 
 .welcome h1:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(0, 0, 0,0.8);
    color: white;
    border-radius: 20px;
 }

 .welcome h2:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(102, 102, 102, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 20px;
 }
 @keyframes fadeInDown {
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0);
    }
 }

 @keyframes fadeInUp {
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0);
    }
 }

 .fadeinup {
   background-position: 45% 65%;
   position: relative;
   overflow: hidden;
   background-image: url('../../assets/config.png');
}

 .deposit{
    background-image: url('../../assets/deposit.png');
    background-position: 50% 50%;
 }

 .edit{
    background-image: url('../../assets/edit.png');
    background-position: 50% 50%;
 }

 .operation{
    background-image: url('../../assets/operation.png');
    background-position: 50% 50%;
 }
 @keyframes fadeInDown {
   from {
       transform: translateX(100vw);
   }
   to {
       transform: translateX(0);
   }
}