.newuser-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.register-container {
    padding: 10px;
}

.register-container input {
    margin: 5px;
}