.newuser-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgb(37,37,104),rgb(208,24,36,0.7),rgb(251,241,8));
    padding: 5px;
}

.register-container {
    padding: 10px;
}

.register-container input {
    margin: 5px;
}