.user-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -25vh;
}

.user-list{
    padding: 10px;
    margin: 20px;
    width: 50vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 167, 167);
    border-radius: 30px;
}

.user-container button {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #504d4d;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /* Add other styles as needed */
  }
  
  /* Additional styles for the inputs in light mode */
  .custom-config-container.light-mode .custom-input {
    background-color: #f0f0f0; /* Example background color for light mode input */
    color: #333333; /* Example text color for light mode input */
    /* Add other light mode styles for input as needed */
  }